.about {
  width: 100%;
  margin-bottom: 30px;
}
.about__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .about__container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .about__container {
    width: 1150px;
    padding: 0 50px;
  }
}
.about__title {
  margin-top: 10px;
  margin-bottom: 0;
}
.about__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.about__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  padding-top: 85px;
  list-style: none;
}
@media (min-width: 768px) {
  .about__container {
    padding-top: 70px;
    padding-bottom: 55px;
  }
  .about__title {
    margin: 0;
    padding-bottom: 16px;
  }
  .about__list {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__item {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    list-style: none;
    width: 50%;
    padding-right: 40px;
    padding-bottom: 25px;
  }
  .about__item--material {
    -ms-flex-order: 0;
        order: 0;
  }
  .about__item--style {
    -ms-flex-order: 2;
        order: 2;
  }
  .about__item--like {
    -ms-flex-order: 4;
        order: 4;
  }
  .about__item--love {
    -ms-flex-order: 1;
        order: 1;
  }
  .about__item--support {
    -ms-flex-order: 3;
        order: 3;
  }
  .about__item--present {
    -ms-flex-order: 5;
        order: 5;
  }
}
@media (min-width: 1150px) {
  .about__container {
    padding-top: 82px;
    padding-bottom: 62px;
  }
  .about__item {
    padding-right: 40px;
  }
}
.add {
  margin-bottom: 50px;
}
.add__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .add__container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .add__container {
    width: 1150px;
    padding: 0 50px;
  }
}
.add__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #63d1bb;
  position: relative;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.add__title::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 62px;
  width: 200px;
  height: 1px;
  background-color: #63d1bb;
}
.add__text {
  border: 2px solid #000000;
  width: 260px;
  height: 145px;
  padding: 20px 15px 20px 15px;
}
@media (min-width: 768px) {
  .add__container {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 150px;
  }
  .add__title {
    margin-right: 100px;
  }
  .add__title::after {
    display: none;
  }
  .add__text {
    width: 500px;
    height: 140px;
  }
}
@media (min-width: 1150px) {
  .add__title {
    margin-right: 135px;
  }
  .add__text {
    width: 700px;
    height: 140px;
  }
}
.button {
  margin: 0 auto;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  border: 2px solid #444444;
  height: 50px;
  width: 260px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: transparent;
}
.button:hover {
  color: #ffffff;
  background-color: #444444;
}
.button:active {
  color: #8d8d8d;
  background-color: #444444;
}
@media (min-width: 768px) {
  .button--feedback {
    position: absolute;
    top: 35px;
    right: 50px;
  }
  .button--form {
    margin: 0;
  }
  .button--product {
    margin-top: 10px;
  }
}
@media (min-width: 1150px) {
  .button--feedback {
    right: 50px;
    width: 175px;
  }
  .button--contacts {
    position: absolute;
    top: 400px;
    left: 70px;
  }
  .button--product {
    margin-top: 25px;
  }
}
.color {
  margin-bottom: 50px;
}
.color__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .color__container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .color__container {
    width: 1150px;
    padding: 0 50px;
  }
}
.color__inner {
  margin-bottom: 40px;
}
.color__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #63d1bb;
  position: relative;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.color__title::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 62px;
  width: 200px;
  height: 1px;
  background-color: #63d1bb;
}
.color__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
.color__label--checkbox {
  position: relative;
  padding: 21px 30px 22px 60px;
  cursor: pointer;
}
.color__label--checkbox::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 34px;
  height: 34px;
  border: 2px solid #444444;
}
.color__label--checkbox:hover::before {
  border-color: #62d1ba;
}
.color__label--checkbox:active::before {
  border-color: #c7c7c7;
}
.color__label--checkbox::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 8px;
  display: none;
  width: 20px;
  height: 10px;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(-45deg);
}
.color__label--checkbox:active::after {
  display: block;
}
.color__input--checkbox {
  display: none;
}
.color__input--checkbox:checked + .color__label--checkbox::after {
  display: block;
}
.color__input--checkbox:checked + .color__label--checkbox:active::after {
  display: none;
}
@media (min-width: 768px) {
  .color {
    background-color: #f1f1f1;
    padding-top: 50px;
  }
  .color__container {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .color__title {
    margin-top: 0;
    margin-right: 90px;
  }
  .color__title::after {
    display: none;
  }
  .color__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 500px;
  }
  .color__inner {
    width: 230px;
    margin-bottom: 60px;
  }
  .color__label--checkbox {
    width: 240px;
    padding: 29px 30px 29px 81px;
  }
  .color__label--checkbox::before {
    top: 12px;
    width: 50px;
    height: 48px;
  }
  .color__label--checkbox::after {
    top: 27px;
    left: 12px;
    width: 28px;
    height: 13px;
  }
}
@media (min-width: 1150px) {
  .color__wrapper {
    width: 740px;
  }
  .color__title {
    margin-right: 130px;
  }
}
.comment__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .comment__container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .comment__container {
    width: 1150px;
    padding: 0 50px;
  }
}
@media (min-width: 768px) {
  .comment__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}
@media (min-width: 1150px) {
  .comment__container {
    -ms-flex-pack: end;
        justify-content: flex-end;
    padding-left: 225px;
  }
}
.contacts {
  width: 100%;
  position: relative;
}
.contacts__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .contacts__container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .contacts__container {
    width: 1150px;
    padding: 0 50px;
  }
}
.contacts__title {
  padding-right: 30px;
  margin: 28px 0 25px 0;
  font-size: 18px;
}
.contacts__info {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 9px;
}
.contacts__email {
  display: -ms-flexbox;
  display: flex;
}
.contacts__email-title {
  margin-right: 30px;
  padding-bottom: 30px;
  vertical-align: top;
}
.contacts__email-text {
  padding-bottom: 30px;
  vertical-align: top;
  color: #000000;
  -webkit-text-decoration-color: #63d1bb;
          text-decoration-color: #63d1bb;
}
.contacts__address {
  display: -ms-flexbox;
  display: flex;
}
.contacts__address-title {
  margin-right: 30px;
  padding-bottom: 30px;
  vertical-align: top;
}
.contacts__address-text {
  margin-top: 0;
  padding-bottom: 30px;
  vertical-align: top;
  width: 185px;
  padding-right: 40px;
}
.contacts__map {
  position: relative;
  width: 100%;
  height: 457px;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
@media (min-width: 768px) {
  .contacts__container {
    padding-top: 60px;
    padding-bottom: 47px;
  }
  .contacts__title {
    font-size: 43px;
    margin-bottom: 48px;
  }
  .contacts__info {
    font-size: 17px;
    line-height: 30px;
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .contacts__email {
    width: 50%;
  }
  .contacts__address {
    width: 50%;
  }
  .contacts__address-text {
    width: 230px;
    padding: 0;
  }
  .contacts__map-image {
    height: 400px;
  }
}
@media (min-width: 1150px) {
  .contacts__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding-top: 0;
    padding-bottom: 72px;
    margin-bottom: 100px;
  }
  .contacts__title {
    margin-top: 70px;
    margin-bottom: 49px;
    font-size: 53px;
  }
  .contacts__info {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .contacts__map {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 525px;
    text-align: left;
  }
}
.feedback {
  width: 100%;
}
.feedback__container {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 27px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .feedback__container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .feedback__container {
    width: 1150px;
    padding: 0 50px;
  }
}
.feedback__title {
  margin-top: 0;
  margin-bottom: 25px;
}
.feedback__item {
  font-size: 15px;
  line-height: 30px;
}
.feedback__user-info {
  margin-top: 30px;
}
.feedback__user-name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}
.feedback__user-account {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  display: block;
  font-style: normal;
  text-decoration: none;
  padding-top: 5px;
}
.feedback__button-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 28px 0 36px 0;
}
.feedback__button {
  padding: 26px;
  width: 50%;
  font-size: 0;
  border: 1px solid #444444;
  cursor: pointer;
}
.feedback__button--right {
  border-left: none;
}
@media (min-width: 768px) {
  .feedback__container {
    width: 768px;
    padding-top: 77px;
    padding-bottom: 50px;
    margin-bottom: 55px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }
  .feedback__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }
  .feedback__item {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .feedback__row-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .feedback__user-name {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
  }
  .feedback__user-account {
    font-size: 17px;
    line-height: 30px;
    font-style: normal;
  }
  .feedback__button {
    width: 100px;
  }
}
@media (min-width: 1150px) {
  .feedback__container {
    width: 1150px;
    padding-top: 70px;
    padding-bottom: 95px;
  }
  .feedback__item {
    padding-right: 80px;
    margin-bottom: 38px;
  }
  .feedback__user-info {
    width: 30%;
  }
  .feedback__button-wrapper {
    width: 175px;
  }
}
.form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.form__intro {
  color: #444444;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}
.form__comment {
  color: #444444;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .form__intro {
    color: #444444;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    width: 668px;
    margin: 0 auto;
  }
  .form__comment {
    font-size: 17px;
    line-height: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1150px) {
  .form__intro {
    width: 1050px;
    padding: 0 175px;
  }
  .form__comment {
    padding-left: 140px;
  }
}
.intro-container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .intro-container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .intro-container {
    width: 1150px;
    padding: 0 50px;
  }
}
@media (min-width: 768px) {
  .intro-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1150px) {
  .intro-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  border: 1px solid #ededed;
  margin-top: 30px;
  padding-bottom: 30px;
  width: 260px;
}
.item__image {
  width: 258px;
  height: 200px;
}
.item__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding-left: 30px;
}
.item__link {
  color: #000000;
  text-decoration: none;
}
.item__feature {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  padding-left: 30px;
}
.item__price-value {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  padding-left: 30px;
}
@media (min-width: 768px) {
  .item {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 668px;
    height: 330px;
  }
  .item__image {
    width: 330px;
    height: 330px;
  }
}
@media (min-width: 1150px) {
  .item {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-align: center;
        align-items: center;
    width: 316px;
    height: 700px;
  }
  .item__image {
    width: 316px;
    height: 462px;
  }
}
.items__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .items__container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .items__container {
    width: 1150px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .items__container {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: stretch;
        align-items: stretch;
  }
}
.mail {
  margin-bottom: 50px;
}
.mail__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .mail__container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .mail__container {
    width: 1150px;
    padding: 0 50px;
  }
}
.mail__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #63d1bb;
  position: relative;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.mail__title::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 62px;
  width: 200px;
  height: 1px;
  background-color: #63d1bb;
}
.mail__input {
  padding-bottom: 20px;
  border: none;
  border-bottom: 2px solid #000000;
}
@media (min-width: 768px) {
  .mail {
    background-color: #f1f1f1;
  }
  .mail__container {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .mail__title {
    margin-right: 80px;
  }
  .mail__title::after {
    display: none;
  }
  .mail__input {
    width: 500px;
    padding-left: 20px;
    background-color: #f1f1f1;
  }
}
@media (min-width: 1150px) {
  .mail__title {
    margin-right: 120px;
  }
  .mail__input {
    width: 700px;
  }
}
.main-menu__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.main-menu__link {
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  color: #ffffff;
  padding-right: 200px;
  min-height: 100px;
}
.main-menu__link--light {
  display: block;
  background-color: #63d1bb;
}
.main-menu__link--dark {
  display: block;
  background-color: #56c3b2;
}
.main-menu__link--light:hover {
  background-color: #59d5bc;
}
.main-menu__link--light:active {
  color: #97e2d2;
}
.main-menu__link--dark:hover {
  background-color: #46c1ae;
}
.main-menu__link--dark:active {
  color: #8dd5c9;
}
.main-menu__title {
  padding-left: 30px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .main-menu__container {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .main-menu__link {
    width: 335px;
    min-height: 120px;
  }
  .main-menu__title {
    padding-left: 35px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .main-menu__link {
    width: 526px;
    min-height: 100px;
    padding-right: 500px;
  }
}
.main-nav {
  width: 320px;
  position: absolute;
  z-index: 1;
  top: 125px;
  background-color: #ffffff;
}
.main-nav__link {
  color: #444444;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
  display: block;
  padding: 27px 60px 27px 76px;
  border-bottom: 1px solid #ececec;
}
.main-nav__logo,
.main-nav__item--tablet,
.main-nav__item--desktop {
  display: none;
}
.main-nav__link:hover {
  color: #8d8d8d;
}
.main-nav__link:active {
  color: #cacaca;
}
@media (max-width: 767px) {
  .main-nav {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav {
    position: relative;
    top: 0;
    left: 0;
    width: 768px;
    margin: 0 auto;
  }
  .main-nav__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-nav__logo {
    position: relative;
    -ms-flex-order: 3;
        order: 3;
    display: block;
    width: 40%;
    -ms-flex-positive: 1;
        flex-grow: 1;
    border-bottom: 1px solid #ececec;
  }
  .main-nav__item-logo--desktop {
    display: none;
  }
  .main-nav__link {
    width: 100%;
    height: 100%;
    padding-top: 31px;
    padding-bottom: 31px;
    border-bottom: none;
  }
  .main-nav__item--search {
    -ms-flex-order: 4;
        order: 4;
    width: 85px;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }
  .main-nav__link--search {
    font-size: 0;
  }
  .main-nav__item--basket {
    -ms-flex-order: 5;
        order: 5;
    width: 320px;
    text-align: right;
    border-bottom: 1px solid #ececec;
  }
  .main-nav__link--basket {
    padding-right: 50px;
    padding-top: 29px;
  }
  .main-nav__item--catalog {
    -ms-flex-order: 6;
        order: 6;
  }
  .main-nav__link--catalog {
    padding: 17px 18px 17px 50px;
    font-size: 15px;
  }
  .main-nav__item--form {
    -ms-flex-order: 7;
        order: 7;
  }
  .main-nav__link--form {
    padding: 17px 20px;
    font-size: 15px;
  }
  .main-nav__item--tablet {
    -ms-flex-order: 8;
        order: 8;
    display: block;
    -ms-flex-positive: 1;
        flex-grow: 1;
    text-align: right;
  }
  .main-nav__free {
    color: #444444;
    font-size: 15px;
    line-height: 24px;
    display: block;
    padding: 17px 50px 17px 18px;
  }
  .main-nav__item--color,
  .main-nav__item--tablet-color {
    background-color: #f1f1f1;
  }
  .main-nav__item--incolor,
  .main-nav__item--tablet-incolor {
    background-color: #f9f9f9;
  }
}
@media (min-width: 1150px) {
  .main-nav {
    width: 1150px;
  }
  .main-nav__item--desktop {
    -ms-flex-order: 6;
        order: 6;
    display: block;
    width: 270px;
  }
  .main-nav__link-new {
    font-size: 15px;
    padding-left: 50px;
    padding-top: 17px;
  }
  .main-nav__link-sale {
    font-size: 15px;
    padding-left: 0;
    padding-top: 17px;
  }
  .main-nav__item--catalog {
    -ms-flex-order: 1;
        order: 1;
    width: 234px;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
  .main-nav__link--catalog {
    font-size: 17px;
    padding: 30px 15px 33px 50px;
  }
  .main-nav__item--form {
    -ms-flex-order: 2;
        order: 2;
    width: 235px;
    border-bottom: 1px solid #ececec;
  }
  .main-nav__link--form {
    font-size: 17px;
    padding-top: 30px;
    padding-left: 35px;
  }
  .main-nav__logo {
    padding: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    width: 200px;
  }
  .main-nav__link--logo {
    width: 150px;
    height: 74px;
    padding: 8px 50px 2px 30px;
  }
  .main-nav__link--basket {
    padding-top: 30px;
  }
  .main-nav__item--tablet-color,
  .main-nav__item--tablet-incolor {
    background-color: #ffffff;
  }
  .main-nav__item--desktop-color {
    background-color: #f1f1f1;
  }
  .main-nav__item--desktop-incolor {
    background-color: #f9f9f9;
  }
}
.modal {
  display: none;
}
.modal__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
.modal__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.modal__subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
.name {
  margin-bottom: 50px;
}
.name__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .name__container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .name__container {
    width: 1150px;
    padding: 0 50px;
  }
}
.name__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #63d1bb;
  position: relative;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.name__title::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 62px;
  width: 200px;
  height: 1px;
  background-color: #63d1bb;
}
.name__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
.name__input {
  padding-bottom: 20px;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid #000000;
}
.name__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .name__container {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .name__title {
    margin-top: 0;
    margin-right: 90px;
  }
  .name__title::after {
    display: none;
  }
  .name__inner {
    -ms-flex-direction: row;
        flex-direction: row;
    margin-bottom: 50px;
  }
  .name__label {
    margin-right: 30px;
  }
  .name__input {
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .name__input--first-name {
    width: 425px;
  }
  .name__input--second-name {
    width: 375px;
  }
  .name__input--father-name {
    width: 375px;
  }
}
@media (min-width: 1150px) {
  .name__title {
    margin-right: 135px;
  }
  .name__input--first-name {
    width: 620px;
  }
  .name__input--second-name {
    width: 575px;
  }
  .name__input--father-name {
    width: 575px;
  }
}
.page-footer {
  background-color: #f1f1f1;
}
.page-footer__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .page-footer__container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .page-footer__container {
    width: 1150px;
    padding: 0 50px;
  }
}
.page-footer__logo-block {
  display: none;
}
.page-footer__copyright {
  padding-right: 30px;
  padding-left: 30px;
}
.page-footer__copyright-link {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  position: relative;
  display: block;
  padding: 28px 0 32px 37px;
  border-top: 1px solid #ececec;
  text-decoration: none;
  color: #000000;
}
.page-footer__copyright-link:active {
  color: #bfbfbf;
}
@media (min-width: 768px) {
  .page-footer__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    height: 145px;
  }
  .page-footer__logo-block {
    display: block;
    width: 200px;
  }
  .page-footer__copyright {
    width: 200px;
    padding: 0;
  }
  .page-footer__copyright-link {
    border-top: none;
    padding: 18px 0 19px 17px;
  }
}
.page-header {
  width: 100%;
  border-bottom: 1px solid #ececec;
}
.page-header__container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 320px;
  margin: 0 auto;
}
.page-header__logo {
  position: relative;
  z-index: 2;
  padding: 20px 60px;
  background-color: #ffffff;
  text-align: center;
}
.page-header__logo-image {
  width: 120px;
  height: 79px;
}
@media (min-width: 768px) {
  .page-header {
    position: relative;
    border-bottom: none;
  }
  .page-header::after {
    content: "";
    position: absolute;
    top: 87px;
    left: 0;
    width: 100%;
    height: 80px;
    border-top: 1px solid #ececec;
    background-color: #f9f9f9;
  }
  .page-header--dark::after {
    background-color: #f1f1f1;
  }
  .page-header__container {
    width: 768px;
  }
  .page-header__logo {
    display: none;
  }
}
@media (min-width: 1150px) {
  .page-header__container {
    width: 1150px;
  }
}
.page-title {
  width: 100%;
}
.page-title__order {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 0;
  text-align: center;
  background: #f1f1f1;
}
.page-title__catalog {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 0;
  text-align: center;
  background: #f1f1f1;
}
.phone {
  margin-bottom: 50px;
}
.phone__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .phone__container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .phone__container {
    width: 1150px;
    padding: 0 50px;
  }
}
.phone__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #63d1bb;
  position: relative;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.phone__title::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 62px;
  width: 200px;
  height: 1px;
  background-color: #63d1bb;
}
.phone__input {
  padding-bottom: 20px;
  border: none;
  border-bottom: 2px solid #000000;
}
@media (min-width: 768px) {
  .phone {
    background-color: #f1f1f1;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0;
  }
  .phone__container {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .phone__title {
    margin-right: 100px;
  }
  .phone__title::after {
    display: none;
  }
  .phone__input {
    width: 500px;
    padding-left: 20px;
    background-color: #f1f1f1;
  }
}
@media (min-width: 1150px) {
  .phone__title {
    margin-right: 145px;
  }
  .phone__input {
    width: 700px;
  }
}
.product {
  width: 100%;
}
.product__container {
  padding-top: 27px;
  padding-bottom: 30px;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .product__container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .product__container {
    width: 1150px;
    padding: 0 50px;
  }
}
.product__title {
  margin-top: 0;
  margin-bottom: 5px;
}
.product__top {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
}
.product__desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  padding: 24px 0 16px 0;
  margin: 0;
}
.product__table {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  margin-bottom: 27px;
  border-collapse: collapse;
}
.product__feature,
.product__value {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #444444;
}
.product__image {
  width: 260px;
  height: 315px;
}
.product__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  text-align: center;
  display: block;
  padding-top: 22px;
  padding-bottom: 26px;
}
@media (min-width: 768px) {
  .product__container {
    position: relative;
    padding-top: 37px;
  }
  .product__titles {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .product__top {
    text-align: center;
    display: block;
    width: 120px;
    padding-top: 15px;
  }
  .product__desc {
    width: 290px;
    font-size: 17px;
    line-height: 30px;
    padding: 43px 0 35px 0;
  }
  .product__image {
    width: 333px;
    height: 404px;
  }
  .product__table {
    width: 290px;
  }
  .product__image-container {
    position: absolute;
    top: 143px;
    left: 50%;
  }
  .product__buy {
    width: 290px;
  }
  .product__price {
    font-size: 20px;
    line-height: 24px;
    padding-top: 28px;
    padding-bottom: 34px;
  }
}
@media (min-width: 1150px) {
  .product__container {
    padding-top: 115px;
    padding-bottom: 73px;
  }
  .product__titles {
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
  .product__top {
    width: 170px;
    padding: 15px 25px 0 25px;
  }
  .product__info-block {
    margin-left: 175px;
  }
  .product__desc {
    padding-bottom: 47px;
  }
  .product__image-container {
    z-index: -1;
    top: 63px;
  }
  .product__image {
    width: 524px;
    height: 644px;
  }
  .product__buy {
    margin-left: 175px;
  }
  .product__price {
    padding-top: 82px;
  }
}
.production {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 30px auto;
  -ms-flex-align: center;
      align-items: center;
}
.production__container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .production__container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .production__container {
    width: 1150px;
    padding: 0 50px;
  }
}
.production__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
.production__text {
  color: #444444;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .production__wrapper-shadow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .production__title {
    -ms-flex-order: 2;
        order: 2;
  }
  .production__pic {
    -ms-flex-order: 1;
        order: 1;
  }
  .production__wrapper {
    -ms-flex-order: 3;
        order: 3;
  }
}
@media (min-width: 1150px) {
  .production__wrapper-shadow {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .production__pic {
    width: 680px;
  }
  .production__wrapper {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    padding-left: 55px;
    width: 370px;
  }
  .production__title {
    position: absolute;
    right: 154px;
    top: 30px;
    padding: 0;
    padding-left: 23px;
    text-align: left;
    width: 160px;
  }
  .production__description {
    width: 245px;
    padding-left: 22px;
    padding-top: 132px;
  }
}
.promo {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid #ececec;
}
.promo__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 70px;
  padding-bottom: 70px;
}
@media (min-width: 768px) {
  .promo__container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .promo__container {
    width: 1150px;
    padding: 0 50px;
  }
}
.promo__heading {
  text-align: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
}
@media (min-width: 768px) {
  .promo__container {
    padding-top: 100px;
    padding-bottom: 230px;
  }
  .promo__heading {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .promo__container {
    padding-top: 150px;
    padding-bottom: 450px;
  }
  .promo__heading {
    font-size: 53px;
    line-height: 57px;
  }
}
.social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 15px 81px 16px 77px;
}
.social__link {
  display: block;
  padding: 10px;
  font-size: 0;
}
@media (min-width: 768px) {
  .social {
    width: 200px;
    padding: 30px 21px 26px 18px;
  }
}
.type {
  margin-top: 50px;
  margin-bottom: 30px;
}
.type__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .type__container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1150px) {
  .type__container {
    width: 1150px;
    padding: 0 50px;
  }
}
.type__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #63d1bb;
  position: relative;
  text-transform: uppercase;
}
.type__title::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 62px;
  width: 200px;
  height: 1px;
  background-color: #63d1bb;
}
.type__inner {
  margin-bottom: 40px;
}
.type__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
.type__label--radio {
  position: relative;
  padding: 14px 30px 14px 60px;
  cursor: pointer;
}
.type__label--radio::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 36px;
  height: 36px;
  border: 2px solid #444444;
  border-radius: 50%;
}
.type__label--radio:hover::before {
  border-color: #62d1ba;
}
.type__label--radio:active::before {
  border-color: #c7c7c7;
}
.type__label--radio::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  display: none;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}
.type__label--radio:active::after {
  display: block;
}
.type__input--radio {
  display: none;
}
.type__input--radio:checked + .type__label--radio::after {
  display: block;
}
.type__input--radio:checked + .type__label--radio:active::after {
  display: none;
}
@media (min-width: 768px) {
  .type__container {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .type__title {
    margin-top: 0;
    margin-right: 100px;
  }
  .type__title::after {
    display: none;
  }
  .type__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .type__inner {
    margin-bottom: 50px;
  }
  .type__label--radio {
    padding: 29px 30px 29px 81px;
  }
  .type__label--radio::before {
    top: 12px;
    width: 48px;
    height: 48px;
  }
  .type__label--radio::after {
    top: 27px;
    left: 15px;
    width: 22px;
    height: 22px;
  }
}
@media (min-width: 1150px) {
  .type__title {
    margin-right: 135px;
  }
}
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
}
img {
  width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
input:hover,
input:active,
input:focus {
  outline: none;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
  display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}
