.button {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: @grey;
  text-decoration: none;
  border: 2px solid @grey;
  height: 50px;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
