.color {
  border: @border;
}

.color__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @turquoise;
}

.color__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
