.contacts {
  font-family: "Open Sans", "Arial", sans-serif;
  border: @border;
  &__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}
  &__email-title {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
  }
  &__email-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
  }
  &__address-title {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
  }
  &__address-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
  }
}
