.feedback {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
  border: @border;
  &__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
  }
  &__text {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
  }
  &__user-name {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
  }
  &__user-account {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
  }
}
