.feedback {
  width: 100%;
}

.feedback__container {
  position: relative;
  .container();
  padding-top: 27px;
  padding-bottom: 30px;
}

.feedback__title {
  margin-top: 0;
  margin-bottom: 25px;
}

.feedback__item {
  font-size: 15px;
  line-height: 30px;
}

.feedback__user-info {
  margin-top: 30px;
}

.feedback__user-name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.feedback__user-account {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: @grey;
  display: block;
  font-style: normal;
  text-decoration: none;
  padding-top: 5px;
}

.feedback__icon {
  width: 50px;
  height: 26px;
  &:hover {
    fill: #666666;
  }
  &:active {
    fill: #b2b2b2;
  }
}

.feedback__button-wrapper {
  display: flex;
  flex-direction: row;
  margin: 28px 0 36px 0;
}

.feedback__button {
  padding: 26px;
  width: 50%;
  font-size: 0;
  border: 1px solid @grey;
  cursor: pointer;
  &--right {
    border-left: none;
  }
}

@media @tablet {
  .feedback__container {
    width: 768px;
    padding-top: 77px;
    padding-bottom: 50px;
    margin-bottom: 55px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .feedback__container {
    background-image: url("../img/review@2x.jpg");
  }
}


  .feedback__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .feedback__item {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .feedback__row-container {
    display: flex;
    justify-content: space-between;
  }

  .feedback__user-name {
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
  }

  .feedback__user-account {
    font-size: 17px;
    line-height: 30px;
    font-style: normal;
  }

  .feedback__button {
    width: 100px;
    }
}

@media @desktop {
  .feedback__container {
    width: 1150px;
    padding-top: 70px;
    padding-bottom: 95px;
    }

  .feedback__item {
    padding-right: 80px;
    margin-bottom: 38px;
  }

  .feedback__user-info {
      width: 30%;
  }

  .feedback__button-wrapper {
    width: 175px;
  }


}
