.form {
  &__intro {
    font-family: "Open Sans", "Arial", sans-serif;
    color: #444444;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
  }
  &__comment {
    font-family: "Open Sans", "Arial", sans-serif;
    color: #444444;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
