.form {
  display: flex;
  flex-direction: column;
}

.form__intro {
  font-size: 13px;
  line-height: 24px;
  color: @grey;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.form__comment {
  font-size: 13px;
  line-height: 24px;
  color: @grey;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

@media @tablet {
  .form__intro {
    color: @grey;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    width: 668px;
    margin: 0 auto;
  }

  .form__comment {
    font-size: 17px;
    line-height: 30px;
    padding-right: 30px;
  }
}

@media @desktop {
  .form__intro {
    width: 1050px;
    padding: 0 175px;
  }

  .form__comment {
    padding-left: 140px;
  }
}
