.item {
  border: @border;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  &__title {
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }
  &__feature {
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
  }
  &__price-value {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
  }
}
