.main-menu__container {
  display: flex;
  flex-direction: column;
  .container();
}

.main-menu__link {
  padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  color: #ffffff;
  padding-right: 300px;
  min-height: 100px;
  &--light {
  display: block;
  background-color: @turquoise;
  }
  &--dark {
  display: block;
  background-color: @dark_turquoise;
  }
  &--light:hover {
    background-color: #59d5bc;
  }
  &--light:active {
    color: #97e2d2;
  }
  &--dark:hover {
    background-color: #46c1ae;
  }
  &--dark:active {
    color: #8dd5c9;
  }
}

.main-menu__title {
  padding-left: 30px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

@media @tablet {
  .main-menu {
  }
  .main-menu__container {
    flex-direction: row;
    justify-content: center;
  }
  .main-menu__link  {
    width: 335px;
    min-height: 120px;
  }
  .main-menu__title {
    padding-left: 35px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media @desktop {
  .main-menu__link  {
    width: 526px;
    min-height: 100px;
    padding-right: 500px;
  }
}
