.main-menu__container {
  display: flex;
  flex-direction: column;
}

.main-menu__link {
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  // position: relative;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  color: #ffffff;
  // padding-right: 200px;
  &--light {
  // display: block;
  background-color: @turquoise;
  }
  &--dark {
  // display: block;
  background-color: @dark_turquoise;
  }
  &--light:hover {
    background-color: #59d5bc;
  }
  &--light:active {
    color: #97e2d2;
  }
  &--dark:hover {
    background-color: #46c1ae;
  }
  &--dark:active {
    color: #8dd5c9;
  }
}

.main-menu__title {
  padding-left: 30px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

.main-menu__icon {
  width: 40px;
  height: 62px;
  &--interior {
    // position: relative;
    // bottom: 70px;
    // left: 280px;
    fill: #3bb09d;
  }
  &--interior:hover {
    fill: #29a592;
  }
  &--interior:active {
    fill: #44c0aa;
  }
  &--toy {
    // position: relative;
    // bottom: 70px;
    // left: 280px;
    fill: #35a999;
  }
  &--toy:hover {
    fill: #239f8e;
  }
  &--toy:active {
    fill: #37b2a0;
  }



}

@media @tablet {
  .main-menu__container {
    flex-direction: row;
    justify-content: center;
  }

  .main-menu__link  {
    width: 335px;
    // min-height: 120px;
    &:hover {
  transform: translateY(-5px);
    }
  }

  .main-menu__title {
    padding-left: 35px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media @desktop {
  .main-menu__link  {
    width: 526px;
    // min-height: 100px;
    // padding-right: 500px;
  }
}
