.main-menu {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: @border;
}

.main-menu__link {
  &--light {
  display: block;
  background-color: @turquoise;
  }
  &--dark {
  display: block;
  background-color: @dark_turquoise;
  }
}
