.modal {
  display: none;
  width: 320px;
  padding: 30px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  box-shadow: 0 3px 10px #e8e8e8;
}

.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
}

.modal__subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 25px;
}

.modal__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  width: 32%;
  padding: 16px;
  border: 2px solid #ececec;

  &:hover {
    border-color: #c7c7c7;
  }
}

.modal__input {
  display: none;
  &:checked + .modal__label {
    border-color: #63d1bb;
  }
}

@media @tablet {
  .modal {
    width: 567px;
    padding: 47px 108px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 57px;
  }
}
