.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.modal__subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}
