.page-footer {
  background-color: @title_bg;
}

.page-footer__container {
  .container();
}

.page-footer__logo-footer {
  width: 102px;
  height: 34px;
  fill: #231f20;
  &:hover {
    fill: #46c1ae;
  }
  &:active {
    fill: #bde3dd;
  }
}

.page-footer__copyright {
  position: relative;
  padding-right: 30px;
  padding-left: 30px;
}

.page-footer__copyright-link {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  position: relative;
  display: block;
  padding-top: 28px;
  padding-left: 39px;
  padding-bottom: 32px;
  border-top: 1px solid #ececec;
  text-decoration: none;
  color: #000000;
  &:active {
    color:  #bfbfbf;
  }
}

.page-footer__logo-htmlacademy {
  position: absolute;
  top: 23px;
  right: 40px;
  margin-left: 25px;
  width: 27px;
  height: 35px;
  fill: #63d1bb;
  &:hover {
    fill: #46c1ae;
  }
  &:active {
    fill: #bde3dd;
  }
}



@media @mobile_only {
  .page-footer__logo-block {
    display: none;
  }
}

@media @tablet {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 145px;
  }
  .page-footer__logo-block {
    display: block;
    width: 200px;
  }
  .page-footer__copyright {
    width: 200px;
    padding: 0;
  }
  .page-footer__copyright-link {
    border-top: none;
    padding-right: 55px;
    padding-top: 30px;
  }

  .page-footer__logo-htmlacademy {
    top: 25px;
    right: 0px;
  }


}
