.page-title {
  width: 100%;
}

.page-title__order {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 0;
  text-align: center;
  background: #f1f1f1;
}

.page-title__catalog {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-top: 0;
  text-align: center;
  background: #f1f1f1;
}
