.promo {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center;
  background-repeat: repeat;
  min-height: 315px;
  border-top: 1px solid #ececec;
}

.promo__container {
  display: flex;
  flex-direction: column;
}

.promo__heading {
  text-align: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin-top: 60px;
}

@media @tablet {
  .promo__container {
    width: 570px;
    margin: auto;
  }
  .promo__heading {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media @desktop {
  .promo__container {
    width: 700px;
  }
}
