.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 77px 16px 77px;
}

.social__link {
  display: block;
  padding: 10px;
  font-size: 0;
}

.social__icon {
  width: 24px;
  height: 20px;
  fill: #221f1f;
  &:hover {
    fill: #46c1ae;
  }
  &:active {
    fill: #c1e3de;
  }
}

@media @tablet {
  .social {
    width: 200px;
    padding: 30px 21px 26px 18px;
  }
}
