.type {
  border-top: 1px solid @turquoise;
}

.type__container {
  display: flex;
  flex-direction: column;
}

.type__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @turquoise;
}

.type__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
@media @tablet {
  .type__container {
    flex-direction: column;
    flex-wrap: wrap;
    height: 60px;
  }
}
